name: Push gem

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write

jobs:
  push:
    name: Push to RubyGems
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"
          bundler-cache: true
      - uses: rubygems/release-gem@v1
